/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 12px auto;
  }
 
  header > div {

  } 

  header > div > a {
    display: inline-block;
    margin-left: 48px;
  }

  body {
    padding: 1rem 5rem;
  }

  .title {
    font-weight: 700;
    font-size: 2rem;
    color: blue;
    margin: 1rem 0px;
  }

  .name {
    font-family: 'Playfair Display';
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem 0px;
  }

  .information {
    margin: 1rem 0px;
   
  }

  .right-side img {
    position: absolute;
    top: 80px;
    right: 325px;
    margin: 0;
    z-index: -1;
    
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-top: 3rem;
  }
  
  .footer-icon {
    width: 3rem;
    height: 3rem;
    transition-duration: 200ms;
  }
  
  .footer-icon:hover {
    fill: #fdc435;
    transition-duration: 200ms;
  }